body{
    margin: 0;
    padding: 0;
    background: #FFF8F0;
}
.name {
    width:100%;
    height: 300px;
    background: #FFC554;
    transform: skewY(-5deg); 
}
.name .content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;

}

.name .content .p1{
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif;
    font-weight: bolder;
    font-size: 55px;
    transform: skewY(5deg);
    margin-bottom: 0;

}

.name .content .p2{
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif; 
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;

}

.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}

.name .img img {
    width: 180px;
    height: 320px;

}

.info {
    width: 90%;
    height: auto;
    background: #FFC554;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .tituloseccion { 
    color: #FFF8F0;
    font-family: 'Baloo Tamma 2', sans-serif; 
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px #FFF8F0 dashed; 

}

.info .tituloinfo {
    color:#FFF8F0;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tama 2',sans-serif;  
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infociudad {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
 
}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infofechanacimiento { 
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoestadocivil {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

    .info .infocorreo {
        color:#ececec;
        font-family:'Baloo Tamma 2',sans-serif; 
        font-weight: bolder;
        font-size: large;
        display: inline;
    
    }
    
    .info .infoInfo {
        color:#392F5A;
        font-family:'Baloo Tamma 2',sans-serif; 
        font-weight: bolder;
        font-size: large;
        display: inline;
    
    }

        .info .infocargo {
            color:#ececec;
            font-family:'Baloo Tamma 2',sans-serif; 
            font-weight: bolder;
            font-size: large;
            display: inline;
        
        }
        
        .info .infoInfo {
            color:#392F5A;
            font-family:'Baloo Tamma 2',sans-serif; 
            font-weight: bolder;
            font-size: large;
            display: inline;

}

.info .infoestudiosprimaria {  
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoestudiossecundaria { 
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoestudiosuniversidad { 
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoprimera {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infosegunda {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;  
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infotercera {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoca1 {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;  
    font-weight: bolder;
    font-size: large;
    display: inline;

}

  .info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoca2 {
    color:#ececec;
    font-family:'Baloo Tamma 2',sans-serif;  
    font-weight: bolder;
    font-size: large;
    display: inline;

}

.info .infoInfo {
    color:#392F5A;
    font-family:'Baloo Tamma 2',sans-serif;  
    font-weight: bolder;
    font-size: large;
    display: inline;

}

*{font-family: 'Baloo Tamma 2',sans-serif;}

.Caixa{
    display: grid;
    grid-template-areas: "h h" "m a"; 
    "f f";
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 30fr 60 vh 10fr;
}

header{background: blue;
      grid-area: h;}

main{background: blueviolet;} 
grid-area: m;}
aside{background: brown;} 
grid-area: a;} 
footer{background: green;} 
grid-area: f;}